a {color: #000 !important;text-decoration: none !important;}
.active > .page-link, .page-link.active{background: #d63384 !important;border: 1px solid #d63384 !important;}
.page-link{font-size: 14px;}


.active > .page-link, .page-link.active {
  z-index: 3;
  color: #ffffff !important;
  background-color:#d63384 !important;
  border-color: #d63384   !important;
}
