<ng-template #customLoadingTemplate>

</ng-template>

<ngx-loading [show]="loading" [config]="{
    'primaryColour': '#4c4f52',
    'secondaryColour': '#4c4f52',
    'tertiaryColour': '#4c4f52'
  }" [template]="customLoadingTemplate"></ngx-loading>
<!-- row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ titulo }}</h4>
        <hr class="m-t-0 m-b-15">

        <form class="m-t-0" #noticiaForm="ngForm">
          <!-- <div class="row pt-3">
            <div class="col-md-6">
              <div class="form-group has-danger" [class]="validarError('titulo',1)">
                <label class="control-label">Título * <small>{{validarError('titulo',2)}}</small></label>
                <input type="text" class="form-control"  [(ngModel)]="noticia.usuario"
                  name="nombre" placeholder="">
              </div>
            </div>
          </div> -->
          <div class="row pt-3">
            <div class="col-md-12">
              <div class="form-group has-danger" [class]="validarError('nombre',1)">
                <label class="control-label">Nombre * <small>{{validarError('nombre',2)}}</small></label>
                <input type="text" class="form-control" [(ngModel)]="boletin.nombre" name="nombre" placeholder="">
              </div>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-12">
              <div class="form-group" [class]="validarError('proyecto',1)">
                <label class="control-label">Proyecto <small>{{validarError('proyecto',2)}}</small></label>
                <select class="form-select mr-sm-2" [(ngModel)]="boletin.proyecto" name="proyecto" id="proyecto"
                  tabindex="1" [compareWith]="compararProyecto">

                  @for (proyecto of proyectos; track $index) {
                  <option [ngValue]="proyecto">
                    {{ proyecto.nombre }}
                  </option>
                  }
                </select>
              </div>
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-md-12">
              <label class="control-label">descripcion <small>{{validarError('descripcion',2)}}</small></label>
              <angular-editor placeholder="" [(ngModel)]="boletin.descripcion" name="descripcion"
                [config]="editorConfigSmall">
              </angular-editor>
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Boletin </label>
                <div>
                  <input type="text" class="form-control" [(ngModel)]="boletin.urlRecurso" name="urlRecurso"
                    style="display:inline;max-width: 75%; margin-right: 5px;" readonly>
                  <button (click)="abrirModalSubirPdf(modalSubirBoletin)" class="btn btn-secondary"
                    style="display:inline;margin-right: 5px;">
                    Adjuntar</button>
                  <br>
                  <small class="text-muted">documento en formato: pdf, </small>
                </div>

                @if (boletin.urlRecurso) {

                <div class="form-group">
                  <div>
                    <a class="btn-eliminar" href="javascript:void(0);" (click)="eliminarPdf(boletin)">Eliminar imagen
                      de escritorio</a>
                  </div>
                </div>
                }
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Visualización de Boletín (PDF)</label>
                <div class="box-pdf">
                  <ng-container *ngIf="recursoSrc != null || urlRecurso != null; else mostrarImagenGris">
                    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(
          recursoSrc != null ? recursoSrc : (urlRecurso != null ? urlRecurso : urlRecurso + '/archivos/boletin/boletinprueba.pdf')
        )" class="col-md-12" width="100%" height="500px" type="application/pdf">
                    </iframe>
                  </ng-container>

                  <!-- Imagen gris por defecto -->
                  <ng-template #mostrarImagenGris>
                    <img [src]="urlRecurso + '/archivos/boletinpdf/imagen-gris.png'" alt="Sin documento" width="100%"
                      height="500px" style="object-fit: contain; border: 1px solid #ccc;">
                  </ng-template>
                </div>
              </div>
            </div>



          </div>
          <div class="row pt-3">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Imagen </label>
                <div>
                  <input type="text" class="form-control" [(ngModel)]="boletin.urlImagen" name="urlImagen"
                    style="display:inline;max-width: 75%; margin-right: 5px;" readonly>
                  <button (click)="abrirModalSubirImg(modalSubirImagen)" class="btn btn-secondary"
                    style="display:inline;margin-right: 5px;">
                    Adjuntar</button>
                  <br>
                  <small class="text-muted">Imagen en formato: JPG, resolución: 72 ppi, ancho: 800 px
                    y alto: 600 px.</small>
                </div>

                @if (boletin.urlImagen) {

                <div class="form-group">
                  <div>
                    <a class="btn-eliminar" href="javascript:void(0);" (click)="eliminarImagen(boletin)">Eliminar imagen
                      de escritorio</a>
                  </div>
                </div>
                }
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Visualización de imagen</label>
                <div class="box-img">
                  <img
                    [src]="((imageSrc!=null)?imageSrc:((urlImagen != null)? urlImagen : urlImage+'/archivos/boletin/imagen.png'))"
                    class="col-md-5">
                </div>
              </div>
            </div>

          </div>
          <div class="row pt-3">
            <div class="col-md-6">
              <div class="form-group" [class]="validarError('estado',1)">
                <label class="control-label">Estado * <small>{{validarError('estado',2)}}</small></label>
                <select class="form-select mr-sm-2" [(ngModel)]="boletin.estado" [compareWith]="compararEstado"
                  name="estado" id="estado" tabindex="1">
                  @for (estado of estados; track $index) {
                  <option [ngValue]="estado">
                    {{ estado.nombre }}
                  </option>
                  }
                </select>
              </div>
            </div>
            @if (boletin.idBoletin>0) {

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Fecha registro</label>
                <input type="text" class="form-control" name="fecha" value="{{boletin.fecha | date: 'dd/MM/yyyy'}}"
                  disabled>
              </div>
            </div>
            }
          </div>

          <div class="form-actions py-3 d-flex gap-3">
            <button type="submit" class="btn btn-primary" role="button" (click)='guardar()'>
              <fa-icon [icon]="faCheck"></fa-icon>
              Guardar</button>

            <a [routerLink]="['/boletines/lista']" class="btn btn-secondary">
              <fa-icon [icon]="faArrowLeft"></fa-icon>
              Regresar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--- ------------------
Modal subir Imagen
---------------------->
<ng-template #modalSubirImagen let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Adjuntar imagen escritorio de boletin</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <upload-boletin [boletin]="boletin"></upload-boletin>
  </div>
  <div class="modal-footer"><button type="button" class="btn btn-inverse"
      (click)="modal.dismiss('Cross click')">Cerrar</button></div>
</ng-template>

<ng-template #modalSubirBoletin let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Adjuntar boletin pdf</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <upload-boletin-pdf [boletinpdf]="boletinpdf"></upload-boletin-pdf>
  </div>
  <div class="modal-footer"><button type="button" class="btn btn-inverse"
      (click)="modal.dismiss('Cross click')">Cerrar</button></div>
</ng-template>

<!--FileManager Modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Administrador de archivos</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <file-manager></file-manager>
  </div>
</ng-template>
